.songListContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 33px;
  width: 100%;
}

@media (max-width: 600px) {
  .songListContainer {
    flex-direction: column;
    align-items: center;
  }
}
